<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        padding: 10px;
        font-family: Arial, sans-serif;
      }

      p {
        margin: 10px 0;
      }

      .ticket-data {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
      }

      .ticket-data p {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
